/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
/* 
    GENERAL
*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.cards-container::after{
    content:"";
    display: table;
    clear: both;
}

/* calc((100% / 3) - ((15px / 3)*2)) */


.card{
    width: calc((100% / 3) - 40px);
    height: 100px;
    float: left;
    background-color: black;
    color: white;
    margin: 20px;;
}

img{
    max-height: 100px ;
    float: left;
    display: block;
    margin-right: 15px;
}

a{
    text-decoration: none;
    color: lightskyblue;
}

.info{
    padding: 25px;
}

/* 
    MAIN
*/

p, h1{
    text-align: center;
    margin-top: 40px;
}

h1{
    color: rgb(229, 49, 112);
}

p{
    margin-bottom: 40px;
}

/* 
    CARDS
*/

.laura, .roberto{
    margin-left: 0 15px;
}

